@import "root.css";

.material-symbols-outlined {
    line-height: 110%;
    font-size: 24px;
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
.material-symbols-rounded {
    line-height: 110%;
    font-size: 24px;
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
img,
svg {
    display: block;
}
body {
    margin: var(--nav-height) 0 0 0;
    font-family: var(--ikea-font);
    background-color: var(--color-background);
}
h2 {
    font-family: "Noto IKEA Latin Bold", serif;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
    font-family: inherit;
    vertical-align: baseline;
}
.p-multi-line {
    font-size: 1rem;
    line-height: 162.5%;
}
.title-medium {
    font-size: 2.25rem;
    line-height: 120%;
    letter-spacing: -0.06rem;
}
.title-big {
    font-size: 3.1875rem;
    line-height: 108%;
    letter-spacing: -0.0925rem;
}
.title-bigger {
    font-size: 4.5rem;
    line-height: 108%;
    letter-spacing: -0.115rem;
}
.square-two-col {
    height: var(--square-two-col);
}
.protrait-two-col {
    height: var(--protrait-two-col);
}
.box-hero {
    height: 100%;
    box-sizing: border-box;
}

.sections-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 0 24px;
    max-width: 90rem;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 9.375rem;
}

/* -------- inizio sezioni contenitori (contenitori di box singole o doppie) */
.box-container-1-col {
    box-sizing: border-box;
    margin-bottom: var(--grid-gap);
    gap: var(--grid-gap);
    display: grid;
    grid-template-columns: 1fr;
}
.box-container-2-col {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap);
    margin-bottom: var(--grid-gap);
    text-decoration: none;
}
.hero-section {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--grid-gap);
    margin-bottom: var(--grid-gap);
    height: var(--height-square-image);
    max-height: calc(100svh - (var(--nav-height) + var(--grid-gap)));
    min-height: 28rem;
}

/* -------- inizio hero section boxes ilyas macaluso  */
.left-box {
    grid-column: 1/3;
}
.hero-section .go-shopping {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffdb00;
    border-radius: var(--border-radius-def);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}
.hero-section .go-shopping > header {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem 3.125rem 1rem 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    min-height: 3rem;
}
.hero-section .go-shopping header h2 {
    font-size: 2.25rem;
    letter-spacing: -0.05rem;
    margin: 0;
}
.hero-section .go-shopping header .ico-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    background-color: #000;
    color: white;
    border-radius: 2.5rem;
    box-sizing: border-box;
    border: none;
    padding: 0;
}

.hero-section .go-shopping header .material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 32;
}
.hero-section .go-shopping .search {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}
.hero-section .go-shopping .region-selector::-webkit-scrollbar {
    background: none;
    width: 0.35rem;
}
.hero-section .go-shopping .region-selector::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.hero-section .go-shopping .region-selector::-webkit-scrollbar-button {
    background: rgba(0, 0, 0, 0.5);
    color: wheat;
    height: 0.2rem;
    border-radius: 8px;
}
.hero-section .go-shopping .center-items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2.5rem);
    height: 80%;
    max-height: fit-content;
    margin: 1.25rem;
    padding: 0.6rem;
    border-radius: var(--border-radius-def);
    background: #fff094;
    transition:
        height 0.4s ease,
        padding 0.4s ease,
        margin 0.4s ease;
    overflow: hidden;
}
.hero-section .go-shopping .center-items .item {
    display: flex;
    align-items: center;
    width: 98%;
    border: none;
    background: none;
    height: 2.5rem;
    border-radius: var(--border-radius-def);
    font-size: 1rem;
    font-family: inherit;
    gap: 0.3rem;
}
.hero-section .go-shopping .center-items-hidden {
    margin: 0 1rem;
    padding: 0 0.7rem;
    height: 0;
    overflow: hidden;
    transition:
        height 0.4s ease,
        padding 0.4s ease,
        margin 0.4s ease;
}
.hero-section .go-shopping .search input {
    width: 100%;
    height: 48px;
    border: none;
    padding: 0 0 0 3rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: var(--border-radius-def);
}
.hero-section .go-shopping .search .ico {
    position: absolute;
    left: 0.5rem;
    bottom: 25%;
    height: 1.25rem;
    width: 1.25rem;
}
.hero-section .go-shopping .center-items .item span {
    font-size: 0.9rem;
}
.hero-section .go-shopping .center-items .item:hover {
    background: #fff8ca;
}
.hero-section .go-shopping .center-items .region-selector {
    overflow-y: scroll;
}
.hero-section .go-shopping footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 6.25rem;
    padding: 1rem 3.125rem 1rem 3.125rem;
    background-color: #ffdb00;
    font-family: inherit;
    align-items: center;
    transition: background 0.3s ease-in-out;
}
.hero-section .go-shopping footer .material-symbols-outlined {
    font-size: 32px;
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 32;
}
.hero-section .go-shopping footer:hover {
    transition: background 0.3s ease-in-out;
    background-color: #fff193;
}
.hero-section .go-shopping .while-selector-visible {
    border-top: 2px solid white;
    background-color: #fff193;
}
.hero-section .go-shopping footer .left-items {
    display: flex;
    gap: 0.3rem;
    width: 100%;
    line-height: 100%;
    align-items: center;
}
.hero-section .go-shopping footer .left-items .selected-store {
    font-family: "Noto IKEA Latin Bold", serif;
}

/* ------ animazione icona go-shopping in hero-section */
.hero-section .go-shopping footer .ico {
    transform: rotate(0deg);
    transition: transform 0.4s ease;
}
.hero-section .go-shopping footer .spin {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
}
/* -------- fine hero section boxes ilyas macaluso */

/* -------- struttura delle box singole semplici */
.box {
    display: flex;
    width: 100%;
    position: relative;
    border-radius: var(--border-radius-def);
    text-decoration: none;
    overflow: hidden;
}
/* impostazioni di immagini/video di sfondo */
.box .bg-main {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
/*gradiente semi trasparente (sopra lo sfondo)*/
.box .bg-overlay {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.75));
}
/* classe per rimuovere il gradiente di sfondo */
.box .bg-overlay-none {
    background-image: none;
}
/* -------- fine struttura box semplici*/

/* -------- inizio box-fancy ilyas macaluso */

.box-fancy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6.25rem 3.75rem;
    border-radius: var(--border-radius-def);
    position: relative;
    height: 34rem;
    text-decoration: none;
}
.box-fancy .left-items {
    position: absolute;
    display: flex;
    width: 23rem;
    left: 3.75rem;
    transition: 500ms transform ease;
    transform: translateX(-64px);
    z-index: 3;
}
.box-fancy .right-items {
    width: 70%;
    height: 100%;
}
.box-fancy .right-items p {
    text-shadow: none;
}
.box-fancy .right-items img,
.box-fancy .right-items video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-def);
}
.military-green {
    background-color: rgb(84, 88, 68);
}
.black-bg {
    background: #000;
}
/* -------- fine box-fancy ilyas macaluso */

/* -------- bottom-items (per tutte le box con testo in basso) */
.box .bottom-items {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 1.5rem 12% 1.5rem 1.5rem;
    color: white;
    transition: 500ms transform ease;
    transform: translateX(-64px);
}
.box .bottom-items .material-symbols-outlined,
.box-fancy .left-items .material-symbols-outlined {
    font-size: 48px;
    font-weight: 500;
    margin-top: 1rem;
    margin-right: 1rem;
    transition:
        transform 400ms,
        opacity 200ms;
    opacity: 0;
    transform: translateX(-4rem);
}

/* -------- impostazioni aggiuntive per bottom-items */
.box .items-dark,
.box-fancy .items-dark {
    color: var(--color-text-darker);
    text-shadow: none;
}
.box .items-light,
.box-fancy .items-light {
    color: var(--color-text-light);
}
.box .items-light p {
    text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.7);
}
/* -------- fine bottom-items*/

/* -------- animazione freccetta */
.box:hover .bottom-items,
.box-fancy:hover .left-items {
    transform: translateX(0);
}
.box:hover .bottom-items .ico,
.box-fancy:hover .left-items .ico {
    transform: translate(0);
    transition:
        transform 400ms,
        opacity 200ms;
    opacity: 100%;
}

/* -------- inizio carosello ilyas macaluso */
.carousel {
    display: flex;
    align-items: center;
    padding: 3.75rem 5.75rem 3.75rem 3.75rem;
    border-radius: var(--border-radius-def);
}
.light-blue {
    background-color: #eaedf1;
}
.bright-green {
    background-color: #a1c26a;
}
.carousel .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.carousel .left-items {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 30%;
    margin-right: 1.75rem;
}
.carousel .right-items {
    display: flex;
    align-items: center;
    position: relative;
}
.carousel .right-items .button-right,
.carousel .right-items .button-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    top: 38%;
    border-radius: 3.5rem;
    background-color: black;
    color: white;
    border: none;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.carousel .right-items .button-right {
    right: calc(3.5rem / 2 * -1);
}
.carousel .right-items .button-left {
    left: calc(3.5rem / 2 * -1);
}

.carousel .right-items .hidden,
.carousel .right-items .hidden {
    opacity: 0;
}
.carousel .right-items .button-right:hover,
.carousel .right-items .button-left:hover {
    background-color: #333;
    cursor: pointer;
}
.carousel .gallery {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(var(--box-container-max-width) * 0.175);
    width: calc(var(--box-container-max-width) * (0.175 * 3) + 50px);
    gap: var(--grid-gap);
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.carousel .snaps-inline {
    scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
    scroll-snap-align: start;
}
/*  
                può tornare utile per lo scroll con i bottoni :
                    .gallery { scroll-snap-type: inline mandatory;}
                    .gallery > * { scroll-snap-align: start;} 
                */

.carousel .gallery::-webkit-scrollbar {
    height: 1.5rem;
    border-top: 3px solid white;
}
.carousel .gallery::-webkit-scrollbar-thumb:horizontal {
    border-top: 3px solid black;
}
.carousel .card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: calc(100% - 1rem);
    margin-bottom: 1rem;
    border-radius: var(--border-radius-def);
    background-color: var(--color-background);
    overflow: hidden;
    color: inherit;
    text-decoration: none;
}
.carousel .card img,
video {
    height: calc(90rem * 0.175);
    width: 101%;
    object-fit: cover;
}
.carousel .card .bottom-items {
    display: flex;
    flex-direction: column;
    padding: 16px 8px 16px 16px;
}
.carousel .card .bottom-items h3,
p {
    margin: 0;
    padding: 0;
}
.carousel .card .bottom-items h3 {
    font-size: 1rem;
    font-family: "Noto IKEA Latin Bold", serif;
    line-height: 140%;
}
.carousel .card .bottom-items p {
    font-size: 0.85rem;
    line-height: 157%;
}
.carousel .card .bottom-items-spacious {
    height: 20%;
}
/* -------- fine CSS carosello ilyas macaluso */

/* -------- media query 1530p (small desktop / laptop) */
@media screen and (max-width: 89.9375rem) {
    :root {
        --protrait-two-col: calc(calc((50vw - 2.25rem)) * 1.1);
        --square-two-col: calc((50vw - 2.25rem));
    }

    .hero-section {
        --height-square-image: calc(100vw * 0.66 - 2.5rem);
        height: var(--height-square-image);
        max-height: calc(100vh - (var(--nav-height) + var(--grid-gap)));
    }
    .box-fancy {
        padding: 7vw 4vw;
        height: 38vw;
    }

    .carousel {
        max-height: none;
    }
    .carousel .gallery {
        grid-auto-columns: 25vw;
        width: calc(25vw * 2 + var(--grid-gap));
    }
    .carousel .card img,
    video {
        height: 25vw;
        object-fit: cover;
    }
    .carousel .card .bottom-items {
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 1rem;
    }
}

/* -------- media query 1330px modifiche unicamente a "go-shopping" */
@media screen and (max-width: 78.125rem) {
    .hero-section .go-shopping > header {
        padding: 0 1.875rem;
        font-size: 1.5625rem;
        line-height: 120%;
        letter-spacing: -0.03375rem;
    }
    .hero-section .go-shopping footer {
        padding: 0 1.875rem;
    }
    .hero-section .go-shopping > header h2 {
        font-size: 1.5625rem;
        line-height: 120%;
        letter-spacing: -0.03375rem;
    }
}

/* -------- media query 1088px tablet mode */
@media screen and (max-width: 64rem) {
    .carousel {
        padding: 3.75rem;
    }
    .carousel .left-items {
        width: calc(25vw * 2 + var(--grid-gap));
        min-width: min-content;
    }
    .title-medium {
        font-size: 1.5625rem;
        letter-spacing: -0.03375rem;
    }
    .box-fancy .title-medium {
        font-size: 2.25rem;
        line-height: 120%;
        letter-spacing: -0.06rem;
    }
    .box-fancy .left-items .title-bigger {
        font-size: 3.1875rem;
        line-height: 108%;
        margin: 1rem 0;
        letter-spacing: -0.0925rem;
        max-width: 8ch;
    }
    .box .title-big {
        font-size: 1.5625rem;
        letter-spacing: -0.03375rem;
    }
    .carousel .title-big {
        font-size: 1.5625rem;
        letter-spacing: -0.03375rem;
    }

    /* --------- modifiche dimensioni / padding box */
    .sections-container {
        padding: 0 1rem;
    }
    .hero-section {
        grid-template-columns: calc(60vw - 2rem) 1fr;
        grid-template-rows: 1fr;
        min-height: 28.15rem;
        max-height: calc(100vh - (var(--nav-height) + var(--grid-gap)));
    }
    .box-hero {
        grid-column: 1;
    }
    .hero-section .go-shopping {
        grid-column: 2;
    }
    .hero-section .go-shopping > header {
        padding: 0 1.25rem;
    }
    .hero-section .go-shopping .center-items {
        height: 210%;
    }
    .hero-section .go-shopping .center-items-hidden {
        height: 0;
    }

    /* -------- rimozione animazioni freccetta */
    .box .bottom-items {
        padding: 1rem 5rem 1rem 1rem;
        transition: none;
        transform: translateX(0);
    }
    .box-fancy .left-items {
        transition: none;
        transform: translateX(0);
    }
    .box:hover .bottom-items,
    .box-fancy:hover .left-items {
        transform: translateX(0);
    }
    .box:hover .bottom-items .ico,
    .box-fancy:hover .left-items .ico {
        transform: translate(0);
    }
    .box .bottom-items .ico,
    .box-fancy .left-items .ico {
        display: none;
    }
}

@media screen and (max-width: 50.625rem) {
    .hero-section {
        grid-template-columns: calc(60vw - 2rem) 1fr;
        grid-template-rows: 1fr;
        height: var(--protrait-two-col);
        width: 100%;
    }
    .box-hero {
        grid-column: 1;
    }
    .hero-section .go-shopping {
        grid-column: 2;
    }
}

/* -------- media query 768px mobile mode */
@media screen and (max-width: 47.9375rem) {
    /*                   inizio-layout */
    :root {
        --protrait-two-col: calc(calc(100vw - 2rem) * 1.1);
        --square-two-col:calc(100vw - 2rem);

    }
    .sections-container {
        padding: 0 1rem;
        align-items: center;
    }

    .box-container-2-col,
    .box-container-1-col,
    .hero-section {
        grid-template-columns: 1fr;
    }
    .box-hero {
        grid-column: 1;
        height: var(--square-two-col);
    }
    .hero-section {
        height:max-content;
        max-height: none;
        align-items: start;
    }
    .hero-section .go-shopping {
        grid-column: 1;
        justify-content: flex-start;
        height: fit-content;
        max-height: 28rem;
    }
    .hero-section .go-shopping > header {
        height: 6.25rem;
        padding: 2rem 1rem;
        transition: height 1s ease-out;
    }
    .hero-section .go-shopping .header-transition {
        height: 22rem;
        transition: height 1s ease-out;
    }
    .hero-section .go-shopping footer {
        padding: 0 1rem;
    }

    .hero-section .go-shopping .center-items {
        height: calc(((2.5rem * 6) + (0.6rem * 2) + 48px) * 4);
        margin: 1.25rem;
        padding: 0.6rem;
    }

    .hero-section .go-shopping .center-items-hidden {
        margin: 0 1.25rem;
        padding: 0 0.6rem;
        height: 0;
    }

    .hero-section .go-shopping .center-items .item {
        width: 100%;
    }

    .box-fancy {
        flex-direction: column;
        align-items: flex-start;
        padding: 2.25rem;
        height: fit-content;
        gap: 1.25rem;
        border-radius: 0;
        justify-self: center;
        width: calc(100% + 2rem);
        box-sizing: border-box;
        overflow: hidden;
    }

    .box-fancy .right-items {
        position: unset;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: fit-content;
        min-width: 100%;
        background: transparent;
    }
    .box-fancy .right-items video {
        height: 50vw;
        min-width: none;
    }
    .box-fancy .left-items {
        position: unset;
    }
    .carousel {
        height: fit-content;
        padding: 3.75rem 0 3.75rem 2.25rem;
        border-radius: 0;
        width: calc(100% + 2rem);
        justify-self: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    .carousel .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        overflow: hidden;
    }

    .carousel .left-items {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        min-width: 100%;
        padding-right: 2.5rem;
        box-sizing: border-box;
    }
    .carousel .right-items {
        width: 100%;
    }
    .carousel .right-items-wrapper {
        position: relative;
    }

    .carousel .gallery {
        grid-auto-columns: 15.8125rem;
        width: 100%;
    }
    .carousel .gallery .card > img,
    .carousel .gallery .card video {
        height: 15.8125rem;
    }
    .carousel .right-items .button-right,
    .carousel .right-items .button-left {
        height: 2.5rem;
        width: 2.5rem;
        z-index: 11;
    }
    .carousel .right-items .button-right {
        right: 1rem;
    }
    .carousel .right-items .button-left {
        left: 1rem;
    }
    /*                   fine-layout */

    /*                   inizio-testo */

    .text {
        font-size: 0.75rem;
    }

    .title-medium,
    .title-big {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0;
        letter-spacing: normal;
    }
    .box-fancy .text .title-medium,
    .box-fancy .text .title-big,
    .box-fancy .text .title-bigger,
    .carousel .left-items .title-medium {
        font-size: 1.5625rem;
        line-height: 120%;
        font-weight: 700;
        letter-spacing: -0.03375rem;
        max-width: 100%;
        margin: 0;
    }

    .title-bigger {
        font-size: 1.5625rem;
    }

    /*                   fine-testo */
}
