:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    /*custom properties */
    --ikea-font: "Noto IKEA", "Noto Sans Japanese", "Roboto", "Open Sans", system-ui, sans-serif !important;
    --border-radius-def: 8px;
    --box-container-max-width: 90rem;
    --grid-gap: 1.25rem;

    /*sliding boxes*/
    --box-animation-duration: .6s;

    /* altezza elementi */
    --nav-height: 6rem;

    /* altezza box */
    --height-square-image: calc(90rem * 0.66 - 2rem);
    --protrait-two-col: calc(calc((90rem - (1.5rem * 2) - 1.25rem) / 2) * 1.1);
    --square-two-col: calc((90rem - (1.5rem * 2) - 1.25rem) / 2);

    /*colori ikea ufficiali*/
    --color-logo: #fae6e6;
    --color-background: #fffefb;
    --color-border: #f0ede8;
    --color-footer: #806e6e;
    --color-light: #ffffff;
    --color-ikea-blue: #0058a3;
    --color-ikea-line: #036fce;
    --color-ikea-yellow: #ffdb00;
    --color-ikea-yellow-hover: #ffe53a;
    --color-ikea-yellow-light: #fff094;
    --color-text-dark: rgba(0, 0, 0, 0.74);
    --color-text-darker: #111111;
    --color-text-black: #000;
    --color-text-light: #fffefb;
    --color-grey: #dfdfdf;
    --color-grey-dark: #999999;
    --button-color: rgb(0, 123, 39);
}

@font-face {
    font-family: "Noto IKEA";
    src: url("https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-400.latin.647e877d.woff2")
        format("woff2");
}

@font-face {
    font-family: "Noto IKEA Latin Bold";
    src: url("https://www.ikea.com/global/assets/fonts/woff2/noto-ikea-700.latin.d7277c39.woff2")
        format("woff2");
}
