
.footer {
  text-align: center;
  padding: 16px;
  background: #0058a3;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.themeToggle {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.themeToggle:hover {
  color: #ffdb00;
}
