
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.heroContent {
  max-width: 800px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #0058a3;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #111;
}
